<div class="container">
<a href='/login'>Login</a> <a href='/login'>Create Account</a>

  <div id="front">
  <% @posts.each do |post| %>
    <% if post.url %>
      <li><a href='http://<%=post.url%>'><%=post.title %></a><li>
    <%else%>  
      <li><a href='/post/<%=post.id%>'><%=post.title %></a><li>
    <%end%>
  <%end%>

  </div>
</div>
